.find-friends {
    padding: 40px 15px 0;
}

.find-friends__info {
    text-align: center;
    min-height: 60px;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.2;
    color: #212121;
}

.find-friends__info p {
    margin: 0 0 10px;
}

.find-friends__list {
    padding: 0;
    margin: 36px 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.find-friends__list-item {
    width: 87px;
    margin: 0 10px;
}

.find-friends__list-item--m-large {
    margin: 0 30px;
}

.find-friends__user-img {
    margin: auto;
    width: 78px;
    height: 78px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.find-friends__user-name {
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    color: #000000;
    margin: 11px 0 0;
    text-transform: uppercase;
}

.find-friends__cancel {
    margin-top: 73px;
}

.find-friends__list-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 87px;
    border: 3px solid #E6E6E6;
    border-radius: 100%;
}

.find-friends__list-btn {
    width: 87px;
    height: 87px;
    border: 3px solid #E6E6E6;
    outline: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: 0.3s all ease;
    border-radius: 100%;
}

.find-friends__list-plus {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #345084;
}

.find-friends__new {
    margin: 26px 0 102px;
}

.find-friends__new p {
    text-align: center;
    margin: 11px 0;
    font-size: 30px;
    line-height: 35px;
    color: #888888;
}

.find-friends__new-row {
    margin: 0 -15px;
}

.find-friends__input {
    height: 66px;
    background: #F2F2F2;
    width: 100%;
    border: 0;
    outline: 0;
    text-align: center;
    padding: 0 15px;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.find-friends__input::placeholder {
    color: #000;
}

.find-friends__email {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin: -18px 0 0;
}

.find-friends__google-disconnect {
    text-align: center;
    margin: 35px 0;
}

find-friends__google-disconnect img {
    display: block;
    margin: auto;
}

.find-friends__new-info p {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #888888;
    margin: 8px 0;
}

.find-friends__new-email {
    margin: 0 -15px;
    padding: 0 15px;
    height: 66px;
    background: #F2F2F2;
    line-height: 66px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #000000;
}