.header {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 44px 0 0;
}

.header__logo {
    display: inline-block;
    vertical-align: top;
}

.header-u {
    width: 100%;
    height: 100px;
    background: #EBEBEB;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 44px 0 0;
}

.header-u__user {
    display: block;
    width: 44px;
    height: 44px;
    background-color: #3978EA;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 44px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.05em;
    border-radius: 100%;
}

.header-u__add {
    display: block;
    position: absolute;
    right: 20px;
    top: 52px;
    background: url(../images/add.png) no-repeat center;
    background-size: cover;
    width: 28px;
    height: 28px;
}

.header-p {
    height: 154px;
    width: 100%;
    background: #EBEBEB;
    padding: 15px 20px 15px 68px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    font-weight: bold;
    font-size: 19px;
    line-height: 150%;
    color: #212121;
}

.header-p--white {
    background: #fff;
}

.header-p__back {
    display: block;
    position: absolute;
    width: 23px;
    height: 23px;
    background: url("../images/icon-arrow-left.png") no-repeat center;
    background-size: cover;
    left: 20px;
    top: 50%;
    margin-top: -12px;
}

.header-p__input,
.header-p__textarea {
    background: transparent;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 19px;
    line-height: 150%;
    color: #212121;
}

.header-p__textarea {
    height: 120px;
}

.header-p__input::placeholder,
.header-p__textarea::placeholder {
    color: #8C929B;
}

