.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 180px;
    background: #D6DAE0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.page-footer__input,
.page-footer__textarea  {
    background: transparent;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 19px;
    line-height: 150%;
    color: #212121;
}

.page-footer__textarea {
    height: 120px;
}

.page-footer__input::placeholder ,
.page-footer__textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.page-footer__form-row {
    padding: 0 44px;
    width: 100%;
}

.page-footer__delete {
    width: 100%;
    height: 180px;
    border: 0;
    outline: 0;
    text-align: center;
    transition: 0.3s all ease;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    background: #FB7C93;
}

.page-footer__delete:hover,
.page-footer__delete:focus ,
.page-footer__delete:active {
    background: #de667c;
}


.page-footer__find-btn {
    width: 100%;
    height: 180px;
    border: 0;
    outline: 0;
    text-align: center;
    transition: 0.3s all ease;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    background: #53E094;
}

.page-footer__find-btn:hover,
.page-footer__find-btn:focus ,
.page-footer__find-btn:active {
    background: #46b378;
}

.page-footer__save {
    width: 100%;
    height: 180px;
    border: 0;
    outline: 0;
    text-align: center;
    transition: 0.3s all ease;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    background: #3978EA;
}

.page-footer__save:hover,
.page-footer__save:focus ,
.page-footer__save:active {
    background: #2b62c5;
}