.sign-in {
    margin: 111px 0 0;
}

.sign-in__list {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sign-in__list-item {
    display: inline-block;
    vertical-align: top;
    color: #212121;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.2;
}

.sign-in__list-link {
    text-decoration: none;
    color: inherit;
}

.sign-in__list-link:focus,
.sign-in__list-link:active {
    color: #0c7ff2;
}

.sign-in__google {
    margin: 45px 0 0;
    text-align: center;
}