.task-list {
    padding: 0;
    margin: 0 -19px;
    list-style: none;
    border-top: 1px solid #E6E6E6;
}

.task-list__item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-left: 47px;
    padding-right: 118px;
    padding-top: 27px;
    min-height: 100px;
    border-bottom: 1px solid #E6E6E6;
    transition: 0.3s all ease;
}

.task-list__item--active,
.task-list__item:focus,
.task-list__item:active {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}


.task-list__item  .checkbox {
    position: absolute;
    top: 28px;
    left: 19px;
}

.task-list__next {
    position: absolute;
    top: 31px;
    right: 17px;
    display: block;
    width: 17px;
    height: 17px;
    background: url("../images/icon-arrow-right.png") no-repeat center;
    background-size: cover;
}

.task-list__name {
    color: #212121;
    font-size: 15px;
    line-height: 1.2;
}

.task-list__info {
    position: absolute;
    top: 27px;
    right: 55px;
    width: 40px;
    text-align: center;
}

.task-list__info-avatar {
    width: 26px;
    height: 26px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.task-list__info-img-cont {
    min-height: 26px;
    text-align: center;
}

.task-list__info-img {
    margin: auto;
    max-width: 100%;
    display: block;
}

.task-list__info-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 7px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    margin: 9px 0 0;
}

.task-list__info-open {
    width: 16px;
    height: 16px;
    margin: auto;
    background: radial-gradient(50% 50% at 50% 50%, #53E094 56.25%, #47AC76 100%);
    border-radius: 100%;
}

.task-info {
    margin: 57px 0 0;
}

.task-info .category-title {
    margin: 0 0 17px;
}

.task-info__hint {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.2;
    color: #212121;
}

.task-list__item--checked .task-list__name {
    text-decoration: line-through;
}

.task-list__item--checked .task-list__info {
    opacity: 0.2;
}