.checkbox {
    position: relative;
    border: 1px solid #000000;
    width: 13px;
    height: 13px;
}

.checkbox__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

.checkbox__check {
    display: block;
    width: 13px;
    height: 13px;
    background: url("../images/icon-check.png") no-repeat center;
    background-size: cover;
    position: absolute;
    top: -1px;
    left: -1px;
    opacity: 0;
    transition: 0.3s all ease;
}

.checkbox__input:checked + .checkbox__check {
    opacity: 1;
}