.page-cont {
    height: calc(100vh - 100px);
    overflow: auto;
    margin-top: 100px;
    padding: 47px 19px 15px;
}

.page-inner {
    height: calc(100vh - 334px);
    overflow: auto;
    margin-top: 154px;
    padding-bottom: 30px;
}

.text-center {
    text-align: center;
}

.text-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #3978EA;
    display: inline-block;
    vertical-align: top;
}

.text-link:hover ,
.text-link:focus ,
.text-link:active {
    text-decoration: underline;
}