*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-width: 320px;
    background: #fff;
    line-height: 1.5;
}

#main {
    max-width: 100%;
    min-height: 100vh;
    overflow: hidden;
}